       <!-- Page Content -->
<div style="margin-top:-20px;padding-top:20px; background-color:#eeeded;padding-bottom:10px;border-bottom:solid 1px #d9d9d8;">
   	
<form name=form" class="container">

		    <div class="col-lg-7">
		    <div class="row input-group">
      <input type="text" ng-model="query"   ng-keyup="$event.keyCode == 13 && executeSearch()"  class="form-control  search_table" placeholder="Search">
      <span class="input-group-btn">
          <button class="btn btn-success" ng-click="executeSearch()"  type="submit"><i class="glyphicon glyphicon-search white "></i></button>
      </span>
			    </div>

<div class="row">
<small style="color:#999999; margin-top:2px;">property=HiveLineage.executionEngine&text=tez</small><br/>
                <small style="color:#999999; margin-top:2px;">property=type&text=HiveLineage</small><br/>
                <small style="color:#999999; margin-top:2px;">property=type&text=hive_table</small>
</div>
    </div>
    </form>
</div>
<div class="container" style="min-height:330px;">

<div class="row">
<div class="col-lg-11">
   <div  ng-hide="iswiki">
    <input type="hidden" ng-model="iserror">
    <h4 class="txt1" ng-hide="!matchingResults">{{matchingResults}} results matching your query "{{SearchQuery}}" were found"</h4>
    <ul class="list-unstyled">
      <li ng-hide="iserror" class="sm-txt1" ng-repeat="entity in entities"><u><a href="#Search/{{entity.guid}}" ng-click="StoreJson(entity)"   style="line-height: 2.5;">{{ entity.guid}}</a></u>
</li>     

   
	  <li ng-show="iserror" class="sm-txt1"></li>  
    </ul>
    </ul>   
</div>
<div  ng-show="iswiki" data-ng-include="selectedDefination.path"></div>   
 </div>
      </div>
   </div>    
