@font-face {
    font-family: 'lettrgoth12_btroman';
    src: url('lettrgoth12-bt-roman.eot');
    src: url('lettrgoth12-bt-roman.eot?#iefix') format('embedded-opentype'),
         url('lettrgoth12-bt-roman.woff2') format('woff2'),
         url('lettrgoth12-bt-roman.woff') format('woff'),
         url('lettrgoth12-bt-roman.ttf') format('truetype'),
         url('lettrgoth12-bt-roman.svg#lettrgoth12_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

.litag{
font:Arial, Helvetica, sans-serif;
padding: 8px 0px 8px 0px;
font-size:14px; 
color:#7b7b7b;
margin-left:40px;
margin-top:5px;
height:40px;
}


.litag:hover{
font:Arial, Helvetica, sans-serif;
padding: 8px 0px 8px 25px;
font-size:14px; 
color:#7b7b7b;
margin-left:15px;
margin-top:5px;
width:90%;
height:40px;
background-color:#e5e5e5;
}



.search_btn {
	background-image:url(../img/search_icon.jpg);
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	border:none;
	margin-left:15px;
	
	
}
.leftpanal {
background-color:#f9f9f9;
	background-image:url(../img/bg2.jpg);
	background-repeat:repeat-x;
	padding-bottom:56px;
}
.rightpanal {
	background-color:#eeeeed;
	background-image:url(../img/bg1.jpg);
	background-repeat:repeat-x;
	padding-bottom:40px;
}
.mrgt40 {
	margin-top:40px;
	margin-bottom:40px;
}
.mrgt40lm30 {
	margin-top:60px;
	margin-left:-30px;
}


.greyt {
	color:#939598;
    font-family:"LettrGoth12 BT";
	font-weight:bold;
}

.mini-box {
	background-color: #10BCFF;
	color: white;
	text-align: center;
	margin: 2px;
	font-size: 1.5em;
}
.mini-box1 {
	height: 30px;
	margin-top:10px;
	margin-left:-20px;
	background-color:#f4f4f5;
	padding-left:15px;
	padding-top:5px;
		width:577px;
}
.mini-box1input {
	background-color:#f4f4f5;
	border:none;
}
.mini-box2 {
	height: 30px;
	margin-top:6px;
	margin-left:-20px;
	background-color:#f0f0f1;
	padding-left:15px;
	padding-top:5px;
		width:577px;
}
.mini-box2input {
	background-color:#f0f0f1;
	border:none;
}

.mini-box3 {
	height: 30px;
	margin-top:6px;
	margin-left:-20px;
	background-color:#f4f4f5;
	padding-left:15px;
	padding-top:5px;
	width:577px;
}

.mini-box4 {
	height: 30px;
	margin-top:6px;
	margin-left:-35px;
		background-color:#f0f0f1;
	padding-left:15px;
	padding-top:5px;
		width:577px;
}
.tagtxt {
	color:#000;
	padding-top:10px;
	margin-left:-100px
}

.guidtxt {
	color:#000000;
	padding-top:30px;
	text-decoration:underline;
	font-weight:600;
	font-size:14px;
	color:#636364;
	margin-left:10px
}

.guidtxt2 {
	color:#000000;
	padding-top:10px;
	padding-bottom:20px;
	font-weight:600;
	font-size:14px;
	color:#636364;
	border-bottom:thin #d9d9d9 solid;
}

.resulttxt {
	color:#000000;
	padding-top:3px;
	padding-bottom:3px;
	font-size:13px;
	color:#636364;
}

.img2 {
	float:right;
	margin-top:20px;
	margin-bottom:-40px;
	margin-right:-30px;
}
.borderright {
	border-right:1px solid #89BC3B;
	height:400px;
}
.box1 {
	margin-top:5px;
	background-color:#F4F4F6;
	width:48%;
	height:250px;
	padding-top:10px;
}
.div_ex
{
/*background-color:#EEEEED;*/
}
.div_ex:hover
{

background-color:#f5f5f5;
    
    
}

.div_ex2
{
background-color:#f9f9f9;

}
.div_ex2:hover
{

background-color:#e5e5e5;
    
    
}