<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="namespace-attr-page" data-id="namespaceAttrPage">
    <div class="namespace-attr-tableOverlay"></div>
    <div class=" modal-header" data-id="namespaceAttrPageHeader">
        <h4 class="modal-title" data-id="namespaceAttrPageTitle"></h4>
    </div>
    <div id="r_modal">
    </div>
    <div class="namespace-attr-fontLoader">
        <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
<!--     <div class="modal-footer " data-id="modalFooter">
        <button type="button" class="btn btn-action cancel" data-id="namespaceAttrPageCancle">Cancel</button>
        <button type="button" class="btn btn-atlas ok" data-id="namespaceAttrPageOk">Ok</button>
    </div> -->
</div>
<div class="namespace-details" data-id="namespaceDetailPage">
    <div class="position-relative">
        <div class="pull-right inline-content-fr no-padding-left">
            <div class="inline" data-id="colManager"></div>
            <div class="inline">
                <button type="button" data-id="createNameSpace" title="Create Namespace" class="btn btn-action btn-sm pull-right btn-loader" style="margin-bottom: 10px;" data-action="createNamespace">
                    <i class='fa fa-plus'></i> Create Namespace
                </button></div>
        </div>
        <div class="tableOverlay"></div>
        <div class='attr-filter-overlay hide'></div>
        <div class="auditTable name-space-details">
            <div id="r_nameSpaceTableLayoutView"></div>
        </div>
    </div>
</div>