<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<div class="position-relative">
    <div class="tableOverlay"></div>
    <!-- Not for table Loader its only for initial loading -->
    <div class="fontLoader">
        <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <div class="auditTable" style="display: none">
        <div>
            <span class="labelShowRecord pull-left" data-id="pageRecordText"></span>
        </div>
        <div id="r_auditTableLayoutView"></div>
        <div class="pagination-box">
            <div class="backgrid-paginator pull-right">
                <ul>
                    <li>
                        <button type="button" data-id="previousAuditData" title="Previous" disabled=true>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)" data-id="activePage"></a>
                    </li>
                    <li>
                        <button type="button" data-id="nextAuditData" title="Next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>