axonius_api_client==4.10.9
beautifulsoup4==4.9.1
bleach==3.1.1
boto3==1.14.3
bs4==0.0.1
charset-normalizer==2.0.12
coverage==5.5
dateparser==1.1.0
edgegrid-python==1.1.1
exchangelib==3.2.0
grpcio==1.44.0
ioc-fanger==3.3.0
ipwhois==1.2.0
ldap3==2.7
mail-parser==3.12.0
msal==1.13.0
mysql-connector-python==8.0.28
mysqlclient==2.1.0
numpy==1.19.5
o365==2.0.11
paramiko==2.7.1
pyjwt==1.7.1
pymssql==2.2.4
pyotp==2.6.0
PyPDF2==1.26.0
pytest-cov==2.12.0
pytest-shutil==1.7.0
pytest==6.2.4
pyvelociraptor==0.1.6
regex==2022.3.2
requests-mock==1.9.3
requests==2.23.0
SQLAlchemy-Utils==0.32.21
SQLAlchemy==1.3.23
stix2==1.1.2
taxii2-client==0.5.0
xmltodict==0.12.0
xmltodict==0.12.0
Django==2.0.7
django-celery-results==1.0.1
django-cors-headers==2.4.0
django-filter==1.1.0
django-filters==0.2.1
django-model-utils==3.1.1
django-mysql==2.4.0
django-nose==1.4.5
django-silk==2.0.0
django-storages==1.6.6
djangorestframework==3.7.7
djangorestframework-filters==0.10.0
