/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div.separator {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.separator {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

hr.separator {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pointer {
    cursor: pointer;
}

.form-control {
    border-color: #5cbb5a;
    border-width: 2px;
}

.small-txt {
    color: #999999;
    padding-left: 14px;
}

/* Header background */
header.navbar-top {
    background-color: #fafafa;
    border-bottom: solid 4px #5cbb5a;
    margin-bottom: 0px;
}

.search {
    padding-top: 20px;
    padding-bottom: 10px;
}

header .container {
    padding: 12px;
}

/* Footer */
footer.navbar-bottom {
    background-color: #fafafa;
    border-top: solid 4px #5cbb5a;
}

footer.navbar-bottom p {
    color: #333333;
    margin: 23px 10px 10px;
}

footer.navbar-bottom img {
    padding-left: 5px;
    margin-top: -21px;
}
