/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E6E6E6;
    /* color: #686868;*/
}

a {
    color: #359f89;
}

header {
    background-color: #fff;
    border-bottom: 1px #e7e8ed solid;
}

textarea:focus,
button:focus {
    outline: none !important;
}

textarea {
    resize: none;
}


/* Bootstrap Extended */

.form-control:focus {
    box-shadow: none;
}

.breadcrumb {
    padding: 8px 25px;
    background-color: transparent;
    margin-bottom: 0px;
    font-weight: 600;
    line-height: 44px;
}

.breadcrumb>li+li:before {
    padding: 0 10px;
    font-family: FontAwesome;
    color: #686868;
    content: "\f105";
}

.well {
    background-color: #f6f7fa;
    border: 1px solid #e8e9ef;
}


/* Header */

.main-search .form-control {
    border: none;
    border-left: 1px #e7e8ed solid;
    border-radius: 0px;
    box-shadow: none;
    height: 60px;
    font-size: 18px;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
}

.main-search .input-group-addon {
    font-size: 20px;
    color: #b5b9bc;
    background: none;
    border: none;
}

.page-title {
    background-color: #fff;
    padding: 50px;
}

.page-title h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.page-title h1 small {
    position: relative;
    bottom: 5px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px #e8e9ef solid;
    color: #b4b7bc;
    font-size: 40%;
    font-weight: 600;
    text-transform: uppercase;
}

.page-title .sub-title {
    margin-bottom: 40px;
}


/* Atlas Specific */

.atlast-tabbable {
    margin: 50px 0px;
}

.atlast-tabbable .nav-tabs {
    border-bottom: 1px solid #e8e9ee;
}

.atlast-tabbable .nav-tabs>li>a {
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
}

.atlast-tabbable .nav-tabs>li.active>a,
.atlast-tabbable .nav-tabs>li.active>a:focus,
.atlast-tabbable .nav-tabs>li.active>a:hover {
    border: 1px solid #e8e9ee;
    border-bottom-color: transparent;
}

.atlast-tabbable .tab-content {
    background-color: #fff;
    padding: 35px;
    border: 1px solid #e8e9ee;
    border-top: none;
}

.btn-atlas {
    padding: 10px 20px;
    background-color: #fff;
    color: #37bb9b;
    border: 1px #37bb9b solid;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-atlas:hover {
    background-color: #37bb9b;
    color: #fff;
}

.btn-tag {
    color: #4a90e2;
    border: 1px #4a90e2 solid;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-tag:hover {
    color: #fff;
    background-color: #4a90e2;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb-dropdown + li:before,
.breadcrumb-ellipsis + li:before {
    display: none;
}

.breadcrumb-menu {
    display: none
}

.sidebar-item.active i {
    display: block !important;
}

.arrowPosition {
    left: -75px;
}

.dropdown-menu>li>a {
    color: #359f89;
    padding: 6px 20px;
}
