/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#old header a.mainLogo {
    color: #FFF;
    font-size: 16px;
    line-height: 40px;
    padding: 2px 5px 0 15px;
    text-shadow: 0 1px 0 #555;
}

#old footer.navbar-bottom {
    background-color: #fafafa;
    border-top: solid 4px #444;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

#old .footer {
    padding: 7px;
}

#old .tab a {
    color: #000;
}

#old .backgrid th {
    text-align: left;
}

#old .backgrid a,
#old table a {
    color: #428bca;
}

.backgrid th {
    text-transform: capitalize;
}

#old .fa-refresh {
    color: #333;
}

#old .tagList a {
    display: inline-block;
    text-transform: capitalize;
    background: #ADD8E6 !important;
    color: #333 !important;
    padding: 3px 6px;
    margin: 0px 3px 3px 0px;
    cursor: pointer;
}
#old .tagList a i.fa {
    margin-left: 5px;
}
/*
#old .tagList a {
    max-width: 100px;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    float: left;
    background: #ADD8E6 !important;
    color: #000 !important;
    margin: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    cursor: pointer;
}*/

#new footer {
    display: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #359f89 !important;
}

.nav-tabs > li > a:after {
    content: "";
    background: #359f89;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li > a:hover:after {
    background: #359f89;
}

.nav-tabs > li.active > a:after,
.nav-tabs > li:hover > a:after {
    transform: scale(1);
}

.tab-nav > li > a:after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.sidebar-nav .dropdown-menu li {
    border-bottom: none;
    color: #323544;
}

.sidebar-nav .dropdown-menu li a:hover,
.sidebar-nav .dropdown-menu li a {
    color: #323544;
}

.sidebar-nav .dropdown-menu li:hover {
    background: #E4E4E4;
}

.sidebar-nav .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.breadcrumb-ellipsis {
    color: #359f89;
    cursor: pointer;
    display: none !important;
}

.breadcrumb>li:last-child a {
    color: #b4b7bc;
}

.atlas-tag .select2-selection__choice {
    padding: 3px 6px !important;
    background-color: #4a90e2 !important;
    color: #fff !important;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
}

.atlas-tag .select2-selection__choice__remove {
    font-size: 17px;
    line-height: 14px;
    margin: 0px 6px !important;
    color: #fff !important;
    float: right;
}
.breadcrumb-dropdown .popover.bottom
{
    margin-top: 35px;
}
