<div class="container" data-ng-controller="SearchController">
    <form name="form" novalidate>
        <div class="row">
            <div class="col-sm-offset-1 col-lg-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" data-ng-model="query" data-typeahead="type for type in types" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" data-ng-disabled="form.$invalid" data-ng-click="search(query)"><i class="glyphicon glyphicon-search white "></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-lg-6">
                <small class="small-txt">Search : hive_table, hive_database</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-lg-11" data-ui-view=""></div>
        </div>
    </form>
</div>