.node circle {
    cursor: pointer;
    stroke: green;
    stroke-width: 2px;
    fill: #1cef3d;
}

.node circle.empty {
    fill: #fdd916;
}

.node text {
    font: 15px sans-serif;
    pointer-events: none;
    text-anchor: middle;
}

line.link {
    fill: none;
    stroke: green;
    stroke-width: 2px;
}

.d3-tip pre {
    max-width: 400px;
}

div.lineage {
    border-bottom: 2px solid #006600;
    margin-bottom: 30px;
}