<!--
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<!-- <div class="graph-toolbar clearfix"></div> -->
<!-- for 0.8 we used position of lineage-box - Relative -->
<div style="position: relative;height:100%;width:100%;" class="white-bg no-padding lineage-box">
    <div class="lineage-filter-box clearfix">
        <div class="hideProcessContainer">
            <span class="pull-left"><b>Load Process:</b>&nbsp</span>
            <span class="pull-left">Show</span>
            <label class="switch pull-left">
                <input type="checkbox" class="switch-input" data-id="checkHideProcess" value="" />
                <span class="switch-slider"></span>
            </label>
            <span class="pull-left">Hide</span>
        </div>
        <div class="zoomButtonGroup pull-right">
            <span type="button" id="zoom_in" class="btn btn-atlas btn-md lineageZoomButton" title="Zoom In" data-id="refreshBtn"> <i class="fa fa-search-plus"></i></span>
            <span type="button" id="zoom_out" class="btn btn-atlas btn-md lineageZoomButton" title="Zoom Out" data-id="refreshBtn"> <i class="fa fa-search-minus"></i></span>
        </div>
    </div>
    <div class="fontLoader">
        <i class="fa fa-refresh fa-spin-custom"></i>
    </div>
    <svg width="100%" height="calc(100% - 80px)" viewBox="0 0 854 330" enable-background="new 0 0 854 330" xml:space="preserve"></svg>
    <div class="legends" style="height: 20px">
        <i class="fa fa-long-arrow-right" aria-hidden="true" style="margin-right: 12px; color:#8bc152;">&nbsp<span>Lineage</span></i>
        <i class="fa fa-long-arrow-right" aria-hidden="true" style="color:#fb4200;">&nbsp<span>Impact</span></i>
    </div>
</div>
