.bg-top2{
background: #eeeded; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeded', endColorstr='#e5e5e4'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#eeeded), to(#e5e5e4)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #eeeded,  #e5e5e4); /* for firefox 3.6+ */
width:100%;
border-bottom:solid 1px #d9d9d8;
margin-bottom:20px;


}


.bg-top{
background: #fafafa; /* for non-css3 browsers */
border-bottom:solid 4px #5cbb5a;
}
.bg-bottom{
background: #fafafa; /* for non-css3 browsers */
border-top:solid 4px #5cbb5a;
}
.txt2{
color:#333333;
margin:10px;
}
.table-border{
border:solid 2px #d9d9d8;;
margin-left:30px;
background-color:#edecec;

}

.search_table{
border-top:solid 2px #5cbb5a;;
border-left:solid 2px #5cbb5a;;
border-bottom:solid 2px #5cbb5a;;
background-color:#f4f4f4;
color:#333333;
}

.serach_btn{
border:solid 1px #686867;;

}

.txt1{
color:#5cbb5a;
font-size:23px;
}

.hrbg{
background-color:#686867;
border:solid 1px #686867;
}

/* unvisited link */
.searchbtn a:link {
background-color: #bdbdbd;
}

/* visited link */
.searchbtn a:visited {
background-color: #bdbdbd;
}

/* mouse over link */
.searchbtn a:hover {
background-color: #6abd45;
}

/* selected link */
.searchbtn a:active {
background-color: #bdbdbd;
} 
