<div data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-ui-sref="home" class="navbar-brand" data-ui-sref-active="active">DGC aetna</a>
    </div>
    <nav class="collapse navbar-collapse" data-collapse="isCollapsed" data-role="navigation">
        <ul class="navbar-nav nav" data-ng-if="isLoggedIn()">
            <li data-ng-repeat="item in menu" data-ui-sref-active="active">
                <a data-ui-sref="{{item.state}}">{{item.title}}</a>
            </li>
        </ul>
    </nav>
</div>