/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use "variables" as v;

.header-logo {
  width: 180px;
}

.header-menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.75rem;
  margin-left: auto;
}

.header-icon-button {
  color: white !important;
}

.header-icon-button:hover {
  color: v.$text-green;
}

.profile-button {
  gap: 0.25rem;
}

.header-username {
  font-size: 14px;
}
