/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div.separator {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.breadcrumb{
    padding: 8px !important;
    margin-bottom: 10px !important;
    border-radius: 0 !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3;
}
.pointer{
    cursor: pointer;
}
.alert{
    border-radius: 0 !important;
}
span.separator {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

hr.separator {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.popover{
    max-width: none !important;
}
.pointer {
    cursor: pointer;
}

.form-control {
    border-color: #5cbb5a;
    border-width: 2px;
}

.small-txt {
    color: #999999;
    padding-left: 14px;
}
.mB20{
    margin-bottom: 20px;
}
.padding0{
    padding: 0 !important;
}
.paddingR0{
    padding-right: 0 !important;
}
/* Header background */
header.navbar-top {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
    background-image: -webkit-linear-gradient(top, #555555, #333333);
    background-image: -o-linear-gradient(top, #555555, #333333);
    background-image: linear-gradient(to bottom, #555555, #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#555555, endColorstr=#333333);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    max-height: 40px;
    min-height: 40px;
}


header a.mainLogo{
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    padding: 2px 5px 0 15px;
    text-shadow: 0 1px 0 #555555;
}
header a.mainLogo:hover,header a.mainLogo:focus{
    text-decoration: none;
}

header ul.menuBar li a{
    line-height: 10px;
    color: #c3c3c3;
}
header ul.menuBar li a>i {
    margin-right: 3px;
    font-size: 12px;
} 
header ul.menuBar li a:hover{
    color: #fff;
    background: transparent;
} 
header ul.menuBar li a:focus{
    background: transparent;
} 
header ul.menuBar li.active a{
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
/* Footer */
footer.navbar-bottom {
    background-color: #fafafa;
    border-top: solid 4px #444;
}

footer.navbar-bottom p {
    color: #333333;
    margin: 23px 10px 10px;
}

footer.navbar-bottom img {
    padding-left: 5px;
    margin-top: -21px;
}

/*=======================================================================================
Search Bar design
=======================================================================================*/
.mainSearch input{
    height: 50px;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    color: #414141;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.mainSearch .input-group-btn button{
    border-radius: 0;
    border-radius: 0;
    padding: 14px 20px;
}

/*=======================================================================================
Tags on Home Page design
=======================================================================================*/
.mainTags{
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.mainTags a{
    background: transparent;
    border: none;
    padding:5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #0088cc !important;
    border-radius: 0 !important;
}
.mainTags a:hover{
    color: #005580 !important;
    background: #eeeeee !important;
}
.mainTags h4{
    padding:0 10px;
}
.mainTags i{
    font-size: 12px;
    margin-right: 3px;
}
.mainTags .list-group-item.limitSize{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;y
}

/*=======================================================================================
Search Bar design
=======================================================================================*/
.mainSearch input{
    height: 50px;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    color: #414141;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.mainSearch .input-group-btn button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 14px 20px;
}
.breakword{
    word-wrap: break-word;
}
/*=======================================================================================
Tags on Home Page design
=======================================================================================*/
.mainTags{
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.mainTags a{
    background: transparent;
    border: none;
    padding:5px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #0088cc !important;
    border-radius: 0 !important;
}
.mainTags a:hover{
    color: #005580 !important;
    background: #eeeeee !important;
}
.mainTags h4{
    padding:0 10px;
}
.mainTags i{
    font-size: 12px;
    margin-right: 3px;
}

.pdLft15px
{
    padding-left: 15px;
}

.mt10px {
    margin-top: 10px;
}

.mt20px {
    margin-top: 20px;
}

/*.searchresults {
    border: 1px solid #ddd;
    padding: 10px;
}
.searchresults:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.searchresults:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.searchresults hr {
    margin: 0;
    border: 0;
}
.searchresults .well {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    height: auto;
    min-height: 0;
    padding: 5px 5px 5px 0;
}*/
.search-spinner {
    text-align: center;
}
.menulink{
    padding-left: 10px;
    padding-right: 10px;
}

.btnToggle
{
    border: 1px solid #CCCCCC;
    padding: 5px;
}

.wordBreak {
    word-break: break-word;
}

.tabsearchanchor {
    max-width: 100px;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    float: left; 
    
    background: lightblue !important;
    color: black !important;
    margin: 4px !important; 
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.tabsearchResult {
    max-width: 500px;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize; 
}
.searchResultCount {
    max-width: 500px;
    display: list-item;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-transform: capitalize; 
}

.maxwidth125px {
    max-width: 125px !important;
}

.anchorAbsolute {
    position: absolute;
    right: 4px;
}

.addTag{
   margin-top: -35px;
}

.tagAlign{
    text-align: center;
} 

.h160 {
    height: 160px !important;
}