/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tab-content .table-bordered {
    border-top: none;
}

.details-page .nav-tabs>li.active>a, 
.details-page .nav-tabs>li.active>a:focus, 
.details-page .nav-tabs>li.active>a:hover,
.details-page .nav-tabs>li>a:hover {
    border-radius: 0;
}
.details-page .nav-tabs>li.active>a,
.details-page .nav-tabs>li.active>a:focus{
    border-radius: 0;
    background: #F8F8F8;
}

.details-page .nav-tabs>li>a {
    margin-right: 0px; 
    
}

.details-page .table>thead:first-child>tr:first-child>th {
    border-bottom-width: 1px;
}
.details-page .table td{
  padding-left: 15px;
}
.details-page .table tr:nth-child(even) td{
  padding-left: 15px;
  background: #f9f9f9;
}
.details-page .table tr td:first-child{
  font-weight: bold;
}
.details-page .table th{
  padding-left: 15px;
  background: #f8f8f8;
}
.details-page .lineage{
  position: absolute;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  z-index: -1;
}
.details-page .black{
  color: #555;
}