/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.add-tag {
  margin-top: -7px;
}
.inputs input{
	height: 50px;
  border-radius: 0px;
  border: 1px solid #e3e3e3;
  color: #414141;
  box-shadow: none;
}
.inputs .control-label{
	padding: 15px;
	padding-top: 15px !important;
}
.inputs button.addAttr, .inputs button.saveAttr{
  height: 40px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
}
.inputs button.addAttr{
	background-color: #ff8e00;
}
.inputs pre{
	border: 0;
  border-top: 1px solid #ddd;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.inputs button.remove{
  position: absolute;
  right: 28px;
  bottom: 12px;
  color: #FFFFFF;
  border: 0;
  border-radius: 4px;
  background-color: #a94442;
}
.appForm .panel{
    border-radius: 0 !important;
}
.appForm .panel-footer{
    margin-bottom: 0;
}

.appForm .panel-body{
    padding-bottom: 0;
}

.input-spacing{
	padding-bottom: 10px!important;
}

.create-tag-entity .modal-footer{
	border-top: 0;
}

.tag-list{
	border:1px solid #ddd;
	padding:10px;
	background-color: #F5F5F5;
}

.tag-list ul{
	padding-left: 0px;
}

.error{
	color:red;
}

.tag-list ul li{
	display: inline;
	line-height: 30px;
	border:none;
	padding: 2px;
	background-color: inherit;
  padding-right: 20px !important;
}
.addTag{
	text-align: center;
}
.addTag img{
	cursor: pointer;
}
.searchResults td{
	border: 0;
}
.tagalign{
   margin-top: 14px;
}
.tagsAdded{
  display: inline;
}