<div class="content">
<div class="container">
 <div class="col-lg-12">
    <h4 class="txt1">{{Guid}}</h4>
 <br/>    

<div ng-controller="LineageController" style="border-bottom: 2px solid #060;margin-bottom: 30px;">
<div class="lineage"></div>
 <svg ng-attr-width="{{width}}"
                 ng-attr-height="{{height}}">
              
            </svg>
</div>

<div ng-repeat="(key,value) in details" ng-if="isString(value)" ng-include="'partials/attribute.html'"></div>

<!--<tab heading="Raw"><pre>{{details}}</pre></tab>-->


</div>
</div>
</div>
