div.separator {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.separator {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

hr.separator {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pointer {
    cursor: pointer;
}

.form-control {
    border-color: #5cbb5a;
    border-width: 2px;
}

.small-txt {
    color: #999999;
    padding-left: 14px;
}

/* Header background */
header.navbar-top {
    background-color: #fafafa;
    border-bottom: solid 4px #5cbb5a;
    margin-bottom: 0px;
}

.search {
    padding-top: 20px;
    background-color: #eeeded;
    padding-bottom: 10px;
    border-bottom: solid 1px #d9d9d8;
}

header .container {
    padding: 12px;
}

/* Footer */
footer.navbar-bottom {
    background-color: #fafafa;
    border-top: solid 4px #5cbb5a;
}

footer.navbar-bottom p {
    color: #333333;
    margin: 23px 10px 10px;
}

footer.navbar-bottom img {
    padding-left: 5px;
    margin-top: -21px;
}
