g circle {
    cursor: pointer;
    stroke: green;
    stroke-width: 2px;
    fill: url(#process-image);
}

g circle.empty {
    fill: #90ef96;
}

.link {
    fill: none;
    stroke: green;
    stroke-width: 2px;
}

g text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.d3-tip pre {
    max-width: 400px;
}

div.lineage {
    border-bottom: 2px solid #006600;
    margin-bottom: 30px;
}