/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/*  breadcrumb.scss */

.breadcrumb {
    padding: 8px 25px;
    background-color: transparent;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 44px;
    > li {
        display: inline-block;
        + li:before {
            padding: 0 10px;
            font-family: $font_2;
            color: $color_ironside_gray_approx;
            content: "\f105";
        }
    }
}

.breadcrumb-menu,
.breadcrumb-dropdown + li:before,
.breadcrumb-ellipsis + li:before {
    display: none;
}

.dropdown .fa-ellipsis-h {
    position: relative;
    top: 4px;
}

.breadcrumb-ellipsis {
    color: #359f89;
    cursor: pointer;
    display: none !important;
}

.breadcrumb-dropdown .popover.bottom {
    margin-top: 45px;
}

.breadcrumb>li:last-child a {
    color: #b4b7bc;
}
