/* theme.scss */

.user-dropdown {
    display: inline-block;
    padding: 14px;
    color: $color_ironside_gray_approx;
    .user-circle {
        padding: 8px 10px;
        border: 1px solid $color_ironside_gray_approx;
        border-radius: 20px;
        margin: 0px 4px;
    }
}

.main-search {
    .form-control {
        border: none;
        border-left: 1px $color_mystic_approx solid;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
        height: 60px;
        font-size: 18px;
        font-style: italic;
    }
    .input-group-addon {
        font-size: 20px;
        color: $color_bombay_approx;
        background: none;
        border: none;
    }
}

.page-title {
    background-color: $white;
    padding: 50px;
    h1 {
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: 600;
        text-overflow: ellipsis;
        max-width: 91%;
        overflow: hidden;
        display: inline-block;
        small {
            position: relative;
            bottom: 5px;
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px $color_mystic_approx solid;
            color: $color_bombay_approx;
            font-size: 40%;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .sub-title {
        margin-bottom: 40px;
    }
}

.atlas-tag {
    padding: 6px 12px;
    background-color: $color_havelock_blue_approx;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    i.fa {
        position: relative;
        right: -5px;
        cursor: pointer;
    }
}

.white-bg {
    background-color: $white;
    padding: 30px 0;
}

.comment-input {
    background-color: $color_white_lilac_approx;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.comment-box {
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px $color_mystic_approx solid;
    .comment {
        margin-bottom: 25px;
    }
    .author {
        color: $color_keppel_approx;
        margin-bottom: 0;
    }
    .date {
        color: $color_star_dust_approx;
    }
}

.backButton {
    display: block;
    margin: 0px 13px;
    &:hover {
        color: $color_jungle_green_approx;
    }
    &:active {
        color: $color_jungle_green_approx;
    }
}
