    /* tree.scss */
    
    .jstree-container-ul {
        padding-left: 0px;
        position: relative;
        list-style: none;
        .jstree-node {
            white-space: nowrap;
            position: relative;
            cursor: pointer;
            padding: 4px 0;
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        ul {
            list-style: none;
            padding: 0;
            text-indent: 30px;
        }
        li a {
            // color: $white;
            display: block;
        }
        // .jstree-node[aria-selected="true"]:before {
        //     content: "";
        //     position: absolute;
        //     height: 33px;
        //     background: $color_jungle_green_approx;
        //     top: 0px;
        //     left: -100%;
        //     right: -100%;
        //     z-index: -1;
        // }
    }
    
    .taxonomyTree {
        padding: 0;
        position: relative;
        li {
            position: relative;
            border-radius: 4px;
            margin-top: 5px;
            &.parent {
                width: 100%;
                a {
                    max-width: 93%;
                }
            }
            &.parentChiled {
                ul {
                    padding-left: 9%;
                }
                li {
                    &.children {
                        width: 91%;
                    }
                    a {
                        max-width: 90%;
                    }
                }
            }
            &.children {
                &:hover {
                    background-color: $color_star_dust_approx;
                }
            }
            &.active {
                background-color: $color_jungle_green_approx !important;
                border: none;
                .tools {
                    display: block;
                    .fa {
                        cursor: pointer;
                        padding: 0px 3px;
                    }
                }
            }
            a {
                display: block;
                color: $concrete;
                white-space: nowrap;
                padding: 5px 25px;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
            }
            .tools {
                background: $color_jungle_green_approx;
                display: none;
                position: absolute;
                right: 2px;
                padding: 5px;
            }
        }
    }
    
    .termPopoverList {
        color: #666;
        padding: 0px 5px;
        margin-bottom: 0px;
        a {
            color: #666;
            padding: 5px;
        }
    }
    
    .termPopover {
        cursor: pointer;
    }
    
    .termMoveDiv {
        width: 550px;
        height: 200px;
        margin: 10px;
    }
    
    .tagPopoverList {
        color: #666;
        padding: 0px 5px;
        margin-bottom: 0px;
        a {
            color: #666;
            padding: 5px;
        }
    }
    
    .toggleArrow {
        position: absolute;
        left: 0px;
        padding: 8px;
        cursor: pointer;
    }
