# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: CI

on:
  push:
  pull_request:
    branches: [ "master" ]

jobs:
  docker-build:
    runs-on: ubuntu-22.04
    timeout-minutes: 180

    strategy:
      matrix:
        java: [ 8, 17 ]

    steps:
      - uses: actions/checkout@v4
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
      - name: Cache for maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository/*/*/*
            !~/.m2/repository/org/apache/atlas
          key: maven-repo-${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-repo-${{ matrix.java }}-

      - name: Set up .m2 directory and permissions
        run: |
          mkdir -p ~/.m2/repository
          chmod -R 777 ~/.m2
          chmod -R 777 ./
      
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Set MAVEN_OPTS based on Java version
        run: |
          if [[ "${{ matrix.java }}" == "17" ]]; then
            echo "MAVEN_OPTS=-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3 --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/jdk.internal.ref=ALL-UNNAMED --add-opens=java.base/java.nio.channels.spi=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-exports=java.security.jgss/sun.security.krb5=ALL-UNNAMED --add-exports=java.base/sun.security.x509=ALL-UNNAMED --add-modules=java.sql" >> $GITHUB_ENV
          else
            echo "MAVEN_OPTS=-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.http.retryHandler.class=standard -Dmaven.wagon.http.retryHandler.count=3" >> $GITHUB_ENV
          fi

      - name: Clean up Docker space
        run: docker system prune --all --force --volumes

      - name: Build Atlas - JDK ${{ matrix.java }}
        run: |
          cd dev-support/atlas-docker
          export DOCKER_BUILDKIT=1
          export COMPOSE_DOCKER_CLI_BUILD=1
          docker compose -f docker-compose.atlas-base.yml build
          SKIPTESTS=false docker compose -f docker-compose.atlas-base.yml -f docker-compose.atlas-build.yml up
          ATLAS_BUILD_CONTAINER=$(docker ps -a -q --filter "name=atlas-build")
          EXIT_CODE=$(docker inspect --format '{{.State.ExitCode}}' "$ATLAS_BUILD_CONTAINER")
          
          # If the exit code is non-zero, fail the workflow
          if [ "$EXIT_CODE" -ne 0 ]; then
            echo "atlas-build container failed with exit code $EXIT_CODE."
            exit 1
          fi

      - name: Upload Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-java-${{ matrix.java }}
          path: dev-support/atlas-docker/dist/coverage/*

      - name: Cache downloaded archives
        if: success()
        uses: actions/cache@v4
        with:
          path: dev-support/atlas-docker/downloads
          key: ${{ runner.os }}-atlas-downloads-${{ hashFiles('dev-support/atlas-docker/.env') }}
          restore-keys: |
            ${{ runner.os }}-atlas-downloads-

      - name: Run download-archives.sh
        run: |
          cd dev-support/atlas-docker
          chmod +x download-archives.sh && ./download-archives.sh

      - name: Bring up containers
        run: |
          cd dev-support/atlas-docker
          export DOCKER_BUILDKIT=1
          export COMPOSE_DOCKER_CLI_BUILD=1
          docker compose -f docker-compose.atlas-base.yml build 
          docker compose -f docker-compose.atlas.yml -f docker-compose.atlas-hadoop.yml -f docker-compose.atlas-hive.yml up -d --wait

      - name: Check status of containers and remove them
        run: |
          containers=(atlas-zk atlas-solr atlas-kafka atlas-db atlas-hadoop atlas-hbase atlas-hive atlas);
          flag=true;
          for container in "${containers[@]}"; do
              if [[ $(docker inspect -f '{{.State.Running}}' $container 2>/dev/null) == "true" ]]; then
                  echo "Container $container is running!";
              else
                  flag=false;
                  echo "Container $container is NOT running!";
              fi
          done
          
          if [[ $flag == true ]]; then
              echo "All required containers are up and running";
              docker stop $(docker ps -q) && docker rm $(docker ps -aq);
          else
              docker stop $(docker ps -q) && docker rm $(docker ps -aq);
              exit 1;
          fi
